[Desktop Entry]
Type=Application
Name=Zegarek
Comment=A simple clock with millisecond resolution
Exec=zegarek
Icon=zegarek-icon
Terminal=false
Categories=Utility;